@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-h1 {
    @apply text-5xl 2xl:text-6xl;
  }

  .text-h2 {
    @apply text-4xl 2xl:text-5xl;
  }

  .text-h3 {
    @apply text-3xl 2xl:text-4xl;
  }

  .text-body2 {
    @apply text-2xl 2xl:text-3xl;
  }

  .text-body3 {
    @apply text-xl 2xl:text-2xl;
  }

  .px-section {
    @apply px-36 2xl:px-52;
  }
}

  html {
    background-color: rgb(31 41 55);
  }

  .rs-slider-progress-bar {
    background-color: #2563eb !important;
  }

  .react-datepicker-popper {
    z-index: 5 !important;
  }

  .react-datepicker__input-container > input {
    width: 100% !important;
  }

  .w-80vw {
    width: 80vw;
  }

  .h-42px {
    height: 42px;
  }

  .w-screen {
    width: 100vw;
  }

  .w-28 {
    width: 7rem;
  }
  .w-32 {
    width: 8rem;
  }
  .w-36 {
    width: 9rem;
  }
  .w-40 {
    width: 10rem;
  }
  .w-44 {
    width: 11rem;
  }
  .w-48 {
    width: 12rem;
  }
  .w-52 {
    width: 13rem;
  }
  .w-56 {
    width: 14rem;
  }
  .w-64 {
    width: 16rem;
  }

  .w-72 {
    width: 18rem;
  }

  .w-96 {
    width: 24rem;
  }
  
  .w-120 {
    width: 30rem;
  }

  @media screen and (max-width: 768px) {
    .mobile-w-screen {
      width: 90vw;
    }

    .mobile-w-28 {
      width: 7rem;
    }

    .mobile-w-40 {
      width: 10rem;
    }

    .mobile-w-44 {
      width: 10rem;
    }

    .mobile-w-48 {
      width: 12rem;
    }

    .mobile-w-52 {
      width: 13rem;
    }

    .mobile-w-56 {
      width: 14rem;
    }
  }
  
  .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
  .grid path {
    stroke-width: 0;
  }